main{
  padding: 20px;
}

.top{
  width: 100%;
}

.middle{
  display: flex;
  width: 100%;
}

.left{
  width: 20%;
}

.search-section{
  width: 90%;
  gap: 10px;
}

.search-section__word{
  width: 100%;
  height: 30px;
}


.word--input{
  width: 100%;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 30px;
}

.word--input::placeholder{
  color: lightgray;
}

.search-section__button{
  margin-top: 10px;
}

.button-submit{
  width: 100%;
  height: 30px;
  border: none;
  background-color: #f5c801;
}

.left__order{
  margin-top: 30px;
  width: 90%;
}

.order__description{
  font-weight: bold;
}

.order__select--box{
  width: 100%;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.right{
  display: flex;
  flex-direction: column;
  width: 80%;
}

.right__register{
  text-align: right;
  gap: 10px;
}

.button__a{
  padding: 10px;
  background-color: #ffa92a;
  border-radius: 5px;
  color: #000000;
  font-size: 12px;
  text-decoration: none;
}

.right__product{
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.right__product--each{
  display: contents;
  text-decoration: none;
}

.right__product--each-a{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 30%;
}

.product__image--img{
  width: 100%;
}

.product__content{
  display: flex;
  padding: 5px 10px;
}

.right__pagination{
  justify-items: center;
}

svg.w-5.h-5 {
    width: 30px;
    height: 30px;
}